@font-face {
    font-family: Tangerine;
    src: url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
}

body {
    background-color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
}

strong {
    font-size: 1.5rem;
}

.video-container {
    position: relative;
    -webkit-animation: fadein 5s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s;
    /* Firefox < 16 */
    -ms-animation: fadein 3s;
    /* Internet Explorer */
    -o-animation: fadein 3s;
    /* Opera < 12.1 */
    animation: fadein 5s;
}

#wide {
    width: 100%;
    border-radius: 10px;
}

.lefty {
    border-radius: 15px;
    box-shadow: 2px 2px 3px 2px;
    margin: 10px;
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    animation: slideInLeft 1s ease-out;
}

.righty {
    border-radius: 15px;
    box-shadow: 3px 3px 2px 0;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    animation: slideInRight 1s ease-out;
}

.rightP {
    margin-left: 10px;
}

.leftP {
    margin-right: 10px;
}

.IMG {
    width: 30%;
    border-radius: 25px;
    margin: 10px;
}

footer {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 15px;
    border: solid black;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

button {
    margin-top: 0.8rem;
    display: inline-block;
    font-size: 12px;
    padding: 15px 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 2px 0 2px rgba(0, 0, 0, 0.2);
}

button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#bitcoin {
    width: 50px;
    margin: 5px;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-aspect-ratio: 6/4) {
    .IMG {
        width: 45%;
    }
}

@media (max-width: 720px) {
    .IMG {
        width: 50%;
    }
}